@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  /* width: 100%; */
}

.topcon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 16px;
  /* height: 20px; */
  border: none;
  border-bottom: 1px solid #c7c7c7;
}

.topspan {
  margin-left: 1em;
  font-family: poppins;
}

.con2 {
  display: flex;
  align-items: center;
}

.small-avatar {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: 1em;
}

li {
  list-style: none;
}

.sidecon {
  display: flex;
  /* position: sticky; */
  flex-direction: column;
  width: 3%;
  min-height: 100vh;
  padding: 1em 1em;
  border-right: 1px solid #c7c7c7;
}

.list-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1em; */
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.list-elements img {
  height: 30px;
  width: 30px;
}

.list-elements span {
  font-family: poppins;
  font-weight: 100;
  font-size: 12px;
}

@media screen and (max-width: 760px) {
  .list-elements span {
    display: none;
  }
}

/* top segment */

.Topseg-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1em;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #c7c7c7;
}

/* avatar */

.avatar-con {
  display: flex;
  width: 100%;
  align-items: center;
}

.pro-pic {
  height: 90px;
  width: 90px;
  border-radius: 60px;
}

.name-con {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  font: poppins;
}

.name {
  font-size: small;
  font-weight: bold;
  color: black !important;
}

.name-con span {
  margin-top: 0.3em;
  font-size: 12px;
  color: #797979;
}

.name-con span:last-child {
  margin-bottom: 0.3em;
}

.name-con span:nth-child(1) {
  margin-right: 1em;
}

.name-con span:nth-child(2) {
  margin-right: 1em;
}

.name-con button {
  color: rgb(63, 162, 243);
  font-family: poppins;
  font-size: 12px;
  font-weight: 200;
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.name-con button:active {
  background: rgba(56, 165, 238, 0.404);
  padding: 0 0.5em;
}

.name-con button:nth-child(1) {
  margin-right: 0.5em;
  text-align: start;
}

/* notes */

.notes {
  display: flex;
  width: 100%;
}

.note {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  min-width: 60px;
  border-radius: 10px;
  background-color: #fef68a;
  padding: 1em;
  margin-right: 1em;
}

.note:nth-child(2) {
  background-color: rgb(88, 235, 161);
}
.note:nth-child(3) {
  background-color: rgb(52, 183, 243);
}
.note:nth-child(4) {
  background-color: rgb(238, 146, 238);
}

.note:nth-child(1):hover {
  border: 2px solid #fdf25c;
  box-shadow: rgba(0, 0, 0, 0.25);
}
.note:nth-child(2):hover {
  border: 2px solid rgb(53, 240, 146);
}
.note:nth-child(3):hover {
  border: 2px solid rgb(26, 174, 243);
}
.note:nth-child(4):hover {
  border: 2px solid rgb(250, 106, 250);
}

/* Tabs */

.tabb-con {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tablink {
  display: flex;
  align-items: center;
  padding: 1em;
  border: none;
  font-family: poppins;
  font-weight: 500;
  font-size: 12px;
  /* color: rgb(50, 109, 235); */
  background: transparent;
}

.active-tab {
  border-bottom: 4px solid rgb(50, 109, 235);
  color: rgb(50, 109, 235);
}

.cards {
  display: flex;
  /* justify-content: space-between; */
  padding: 1em 0.5em;
  width: 100%;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: auto;
  background: transparent;
  margin-right: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border: 1px solid black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.first-element {
  display: flex;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  padding: 0.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #c7c7c7;
  align-items: center;
  background-color: #ffffff;
}

.card-name {
  font-family: poppins;
  font-size: 14px;
  font-weight: 600;
}

.radios {
  display: flex;
  align-items: center;
}

.radios span {
  font-family: poppins;
  font-size: 10px;
  font-weight: 100;
  color: #797979;
}

#radio1,
#radio2 {
  margin-right: 0.5em;
}

.radios div {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-family: poppins;
  font-weight: 200;
  margin-right: 1em;
}

.second-element {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 0.5em;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff;
}

.box-con {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c7c7c7;
  color: #a8a8a8;
  border-radius: 5px;
  width: 280px;
  /* margin-right: 1em; */
  margin-bottom: 1em;
  padding: 0.5em;
}

.box label {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.dot {
  display: flex;
  align-items: center;
  font-size: 9px;
}

.box input {
  border: none;
  outline: none;
}

.box:focus:active {
  color: rgb(50, 109, 235);
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
  color: #c7c7c7;
}

/* menu */

.menu-con {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  width: 80%;
}
.menu-item {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0.5em;
  /* margin-right: 0.4em; */
  font-weight: 200;
  font-family: poppins;
  font-size: 11px;
}

.active-menu {
  color: rgba(57, 143, 241, 0.959);
  background: rgba(81, 173, 248, 0.322);
  border-radius: 5px;
}

.menu-icon {
  padding-right: 0.3em;
}

.menu-content {
  display: flex;
  padding: 1em;
  width: 92%;
  background: #ffffff;
  min-height: 50vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* content */

.content-con {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #c7c7c7;
}

.content-top p {
  font-size: 15px;
  font-family: poppins;
  font-weight: 700;
}

.content-top span {
  color: rgb(63, 162, 243);
  font-size: 12px;
  font-family: poppins;
  font-weight: 400;
}

.data-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff;
}

.data {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  color: #a8a8a8;
  font-size: 12px;
  font-family: poppins;
  font-weight: 400;
  min-width: 200px;
  /* margin-right: 1em; */
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.data label {
  padding-right: 0.5em;
}

.data span {
  color: #000;
}

.lipid {
  padding: 1em;
  font-size: 12px;
  font-family: poppins;
  font-weight: 400;
}

/* right main */

.card2 {
  min-height: auto;
  display: flex;
  width: 30%;
  padding: 0.5em;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right-con {
  width: 100%;
}

.right-tab-con {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
}

.last-con {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  width: 100%;
}

.last-con span {
  display: flex;
  font-size: 10px;
  font-family: poppins;
  color: #c7c7c7;
  padding: 1em;
  width: 100%;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
}

.last-con button {
  border: none;
  border-bottom: 1px solid #c7c7c7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 100%;
  background: rgba(209, 232, 250, 0.335);
}

.last-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.last-button1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.span-CCM {
  /* display: flex; */
  font-size: 10px;
  font-family: poppins;
  color: #c7c7c7;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
  margin-right: 1em;
}

.span-AD {
  font-size: 10px;
  font-family: poppins;
  color: #c7c7c7;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
  margin-left: 2em;
}

.last-content {
  display: flex;
  align-items: center;
  border-top: none;
  margin-bottom: 1em;
  padding: 1em;
  height: auto;
  font-family: poppins;
  font-size: 13px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(209, 232, 250, 0.335);
}

.last-icons {
  display: flex;
  font-size: 18px;
  padding-right: 0.5em;
  color: rgba(57, 143, 241, 0.959);
}

.last-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: none;
  margin-bottom: 1em;
  padding: 1em;
  height: auto;
  font-family: poppins;
  font-size: 13px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(209, 232, 250, 0.335);
}

.last-content-div {
  display: flex;
  align-items: center;
  border-top: none;
  /* margin-bottom: 1em; */
  padding: 0.5em;
  font-family: poppins;
  font-size: 13px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.last-content1 span {
  /* display: flex; */
  font-size: 10px;
  font-family: poppins;
  color: #c7c7c7;
  padding: 0;
  width: 100%;
  /* letter-spacing: 1px; */
  line-height: 14px;
  font-weight: 400;
}

.last-content1 span:first-of-type {
  font-size: 10px;
  font-family: poppins;
  color: #c7c7c7;
  padding: 0;
  width: 100%;
  /* letter-spacing: 1px; */
  line-height: 14px;
  font-weight: 400;
}

.red {
  display: flex;
  font-size: 10px;
  font-family: poppins;
  color: red;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
  margin-right: 1em;
}

.green {
  display: flex;
  font-size: 10px;
  font-family: poppins;
  color: green;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
  margin-right: 1em;
}

.span {
  display: flex;
  font-size: 10px;
  font-family: poppins;
  color: #c7c7c7;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
  margin-right: 1em;
}

.black {
  display: flex;
  font-size: 10px;
  width: 40px;
  font-family: poppins;
  color: black;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
  margin-right: 1em;
}

@media screen and (max-width: 760px) {
  .sidecon {
    display: none;
    padding: 0;
    margin: 0;
    width: 0;
  }

  .Topseg-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .notes {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .note {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .avatar-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .name-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
  }

  .tabb-con {
    display: flex;
    width: 100%;
    overflow: auto;
    position: fixed;
  }

  .main {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .card1 {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 1em;
  }

  .card2 {
    display: flex;
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }

  .first-element {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
  }

  .tabcontent {
    width: 100%;
  }

  .data-con {
    display: flex;
    flex-wrap: wrap;
  }

  .data {
    width: 100%;
  }

  .box-con {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .box {
    min-width: 200px;
  }

  .one {
    width: 100%;
    overflow: scroll;
  }

  .last-button {
    width: 100%;
  }

  .menu-con {
    display: none;
  }
}
